{% extends "base.html" %} {% block content %} {% if session['logged_in'] %}
<h2>identity:{{identity}}</h2>
<h3>username:{{username}}</h3>

<a href="/logout">Logout</a>
<br>
{% if 'administrator' == identity%}
<a href="/modify">Modify member</a>
{% endif %}
<br>
<form action="" method="POST">
    <p>password:</p>
    <input type="password" name="password" value="{{password}}" required="required">
    <br/>
    <p>email:</p>
    <input type="email" name="email" value="{{email}}" required="required">
    <br/>
    <p>telephone:</p>
    <input type="tel" name="telephone" value="{{telephone}}" required="required">
    <br/>
    <p>extra:</p>
    <input type="text" name="extra" value="{{extra}}" required="required">
    <br/>
    <input type="submit" value="modify">

</form>


{% else %}
<p>Not login!</p>
<a href="/login">Login</a>
<br/>
<a href="/register">Register</a>
<br/>
<a href="/forget_password">forget password</a> {% endif %} {% endblock %}