{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/modify">Modify member</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<a href="/logout">Logout</a>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<table>
    <form role="form" action="/modify" method="POST">
        <tr>
            <th>username</th>
            <th>password</th>
            <th>email</th>
            <th>telephone</th>
            <th>extra</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>
                <input type="email" name="email{{user.id}}" value="{{user.email}}" required="required">
            </td>
            <td>
                <input type="tel" name="telephone{{user.id}}" value="{{user.telephone}}" required="required">
            </td>
            <td>
                <input type="text" name="extra{{user.id}}" value="{{user.extra}}" required="required">
            </td>
        </tr>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            modify
        </button>
    </form>
</table>
{% endblock %}