{% extends "base.html" %} {% block content %} {% if session['logged_in'] %}
<p>Oh no Dont show page</p>
{% else %}
<h2>Register</h2>

<form action="/register/" method="POST">
    <p>username:</p>
    <input type="username" name="username" placeholder="Username" required="required">
    <br/>
    <p>password:</p>
    <input type="password" name="password" placeholder="Password" required="required">
    <br/>
    <p>email:</p>
    <input type="email" name="email" placeholder="email" required="required">
    <br/>
    <p>telephone:</p>
    <input type="telephone" name="telephone" placeholder="telephone" required="required">
    <br/>
    <p>extra:</p>
    <input type="text" name="extra" placeholder="extra" required="required">
    <br/>
    <input type="radio" name="identity" value="member" checked>member<br>
    <input type="radio" name="identity" value="administrator">administrator<br>
    <br/>
    <input type="submit" value="Register">
</form>
{% endif %} {% endblock %}